@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

p {
  font-weight: 600;
}

#content {
  display: flex;
  margin: 30px auto;
  width: 95%;
  height: 50%;
  border-radius: 40px;
  box-shadow: 5px 5px 30px 7px rgba(0, 0, 0, 0.25), -5px -5px 30px 7px rgba(0, 0, 0, 0.22);
  cursor: pointer;
  transition: 0.4s;
}

.details-section {
  flex: 60%;
}

.details-section,
.image-section {
  padding: 2em 1em;
}

.date-search-section {
  display: flex;
  justify-content: space-evenly;
}

.date {
  color: #000;
  font-size: 2em;
}

.search {
  border: 1px solid #c4c4c4;
  width: 200px;
  overflow-x: hidden;
  display: flex;
  border-radius: 50px;
  font-size: 18px;
  position: relative;
  left: 10%;
}

.search input {
  width: 300px;
  height: 65px;
  border: none;
  padding: 8px 20px;
  outline: none;
  font-size: 18px;
}

.current-weather {
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-details {
  display: flex;
  justify-content: center;
  align-items: center;
}

.other-details p {
  margin-right: 1em;
  margin-top: 1.5em;
}

.temp-display {
  color: #e8960a;
  font-size: 3em;
}

.weekly-forecast {
  display: flex;
}

.image-section {
  padding: 1em;
}

.image {
  height: 400px;
}

.toggle-btn {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  cursor: pointer;
  margin: 0.25rem 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid #1e6bd6;
  border-radius: 5px;
  background: #1e6bd6;
  color: white;
  font-weight: 600;
  text-decoration: none;
  font-family: sans-serif;
  font-size: 0.95rem;
}
